body {
	background-color: purple;
	font-family: 'Josefin Sans', sans-serif;
	color:coral;
	overflow: auto;
}

div {
	padding: .5em;
	background-color: green;
	color: black;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.pseudo-button {
	width: 5em;
	background-color: aliceblue;
	text-decoration: none;
	padding: 1em;
}

#startQuiz{
	margin-bottom: 2em;
}

li {
	padding:1em;
	outline: yellow solid 1px;
	margin: .3em;
	background-color: coral;
	list-style-type: none;
}

.hidden {
	display: none;
}

.visible {
	display: inherit;
	max-width: 50em;
	overflow: auto;
}

.submit {
	/*display: inline;*/
}

#pageControls {
	position: fixed;
    right: 0px;
    z-index: 999999;
    bottom: 5%;
    width: 100%;
    text-align: center;
}
 button {
 	cursor: pointer;
 }
